FORMAT: 1A
HOST: https://antenna.jp

# tmatsuda TITLE

Polls is a simple API allowing consumers to view polls and vote in them.

APIドキュメントのサンプル
ここを更新

#Group CブックAPI 

##Cブック詳細へのアクセス [/clipbook/{id}/show.json]

###Cブック詳細を取得する [GET]

+ Parameters
    + id: `6295318` (number, optional) - idを指定

+ Response 200 (application/json)
    + Body

        {
            "success": true,
            "result": {
                "news": [
                    {
                        "id": 1,
                        "title": "タイトル",
                        "discription": "説明文"
                    }
                ]
            }
        }

    + Schema

        {
            "type": "object",
            "properties": {
                "success": {
                    "type": "boolean"
                },
                "result": {
                    "type": "object",
                    "properties": {
                        "news": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "required": [
                "success",
                "result"
            ]
        }

+ Response 400 (application/json)

        [
            {
                "success": FALSE,
                "errmsg": "エラー"
            }
        ]


# Group Android

# Group iOS

## Questions Collection [/questions]

### List All Questions [GET]

+ Response 200 (application/json)

        [
            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 2048
                    }, {
                        "choice": "Python",
                        "votes": 1024
                    }, {
                        "choice": "Objective-C",
                        "votes": 512
                    }, {
                        "choice": "Ruby",
                        "votes": 256
                    }
                ]
            }
        ]

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }